*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    border-radius: 10px;
    margin-top:  20px;
    margin-left: 20px;
    height: 160px;
    width: 170px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card img{
    height: 95%;
    width: 95%;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}